@model ViewCompanyProfileModel
@{
    ViewData["Title"] = "Company Profile";
}

<h1>@Model.Name</h1>
<h1>@Model.AboutCompany</h1>
<h1>@Model.Category</h1>
<h1>@Model.Address</h1>
<h1>@Model.Website</h1>

