@model JobCardShortListModel

<div class="card-body bg-card">
    <div class="row">
        <h5 class="card-title text-dark">
            @Model.CompanyName
        </h5>
    </div>
    <div class="row">
        <div class="col-7">
            <h6 class="card-text text-secondary">
                <i class="fas fa-map-marker-alt"></i>
                <span>@Model.JobLocation</span>
            </h6>
            <h6 class="card-text text-secondary">
                <i class="fas fa-user-graduate"></i>
                <span>@Model.EducationRequired</span>
            </h6>
            <h6 class="card-text text-secondary">
                <i class="fas fa-medal"></i>
                Skills:
                @foreach (var skill in Model.SkillsRequired)
                {
                    <span class="">@skill.Name,</span>
                }
            </h6>
        </div>
        <div class="col-5">
            <h6 class="card-text text-secondary">
                <i class="fas fa-hands"></i>
                Vacancy: <span>@Model.Vacancy</span>
            </h6>
            <h6 class="card-text text-secondary">
                <i class="fas fa-briefcase"></i>
                <span>@Model.ExperienceRequirements</span>
            </h6>
            <h6 class="card-text text-secondary">
                <i class="fas fa-calendar-alt"></i>
                Deadline: <span>@Model.DeadLine.ToString("dd MMMM yyyy")</span>
            </h6>
        </div>
    </div>
    @if (Model.TotalSkillsMatched != 0)
    {
        <h6 class="card-text text-secondary mt-2">
            <i class="fas fa-check-circle text-primary"></i>
            Your Matching
            @if (Model.TotalSkillsMatched == 1)
            {
                <span>skill</span>
            }
            else
            {
                <span>skills</span>
            }
            @Model.TotalSkillsMatched out of @Model.TotalSkillsRequired :
            <span>@Model.SkillsMatched</span>
        </h6>
    }
</div>